.slick-dots {
  width: auto;
  margin: auto;
  top: 50%;
  bottom: auto;
  right: 0;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
}

.slick-dots li {
  display: block;
}

.slick-vertical .slick-slide {
  height: 100vh;
  min-height: 668px;
}

.slide {
  height: 100vh;
  min-height: 668px;
}

.it1 {
  background: #fdaf2a;
  background-image:
     linear-gradient(hsl(38, 98%, 58%),hsl(38, 98%, 58%)),
     url('../../img/background/Header_backgr.jpg');
  background-blend-mode:
     darken,
     hard-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.it2 {
  background: #fdaf2a url('../../img/background/Header_bkg_2.jpg') no-repeat center;
  background-size: cover;
}
